# render.yaml (Versão Corrigida)
services:
  - type: web
    name: painel-rotativo # O nome do seu serviço na Render
    env: python
    buildCommand: "bash build.sh"
    startCommand: "gunicorn app:app"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.4
      # As chaves abaixo serão preenchidas por você no painel da Render
      - key: SUPABASE_URL
      - key: SUPABASE_KEY
      - key: DKRO_USER
      - key: DKRO_PASS