/* static/style.css */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Esconde barras de rolagem */
    background-color: #000; /* Fundo preto caso algo falhe */
    font-family: sans-serif;
    color: white;
}

.iframe-container, #dashboard-frame {
    width: 100vw; /* 100% da largura da tela */
    height: 100vh; /* 100% da altura da tela */
    border: none;
    padding: 0;
    margin: 0;
}

#info-overlay {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 9999;
    max-width: 90%;
    opacity: 0; /* Começa invisível */
    transition: opacity 0.5s ease-in-out;
}

/* Mostra o overlay quando o mouse está sobre ele ou sobre a página */
body:hover #info-overlay {
    opacity: 1;
}